---
# Main Playbook
- name: apply controller configuration to controller nodes
  hosts: controller
  remote_user: vagrant
  become: yes
  roles:
    - common
    - tigervnc
    - jmeter55
    #- python-scripts
    #- minimum/httpd
    - phpjmadmin
    #- reboot

- name: apply worker configuration to worker nodes 
  hosts: worker
  remote_user: vagrant
  become: yes
  roles:
    - common
    - jmeter55
    - jmeter-worker
    #- reboot
