---
# Main Playbook
- name: apply master configuration to master nodes
  hosts: master
  remote_user: vagrant
  become: yes
  roles:
    - common
    - tigervnc
    - jmeter51
    - python-scripts
    - minimum/httpd
    - reboot

- name: apply slave configuration to slave nodes 
  hosts: slave
  remote_user: vagrant
  become: yes
  roles:
    - common
    - jmeter51
    - slave-jmeter
    - reboot
