#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# editor files
*.vscode

# direnv file
*.direnv
*.envrc

# key file
*.key
*.pub

# example file
network_ap-northeast-1.tf
ec2.tf
backend.tf
provider.tf
terraform.tfvars