#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# editor files
*.vscode

# direnv file
*.direnv
*.envrc

# key file
*.key
*.pub

# example file
terraform.tfvars

# Lock File
.terraform.lock.hcl

# Ansible hosts file
**/modules/ec2/bin/ansible/hosts*
