---
# tasks file for reboot
# ホストの再起動
- name: restart server
  shell: sleep 2 && shutdown -r now
  async: 1
  poll: 0
  become: true
  ignore_errors: true

# サーバからの応答があるまで待つ
- name: waiting for server
  local_action: wait_for host={{ inventory_hostname }} state=started delay=10 timeout=300
  become: false
